# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore
*.jks
*.keystore
keystore.properties

# AI Models (حمّلها منفصلة)
app/src/main/assets/*.tflite

# Logs
*.log

# Env
.env
.env.local

# Build outputs
app/release/
app/debug/
outputs/

# Test reports
app/build/reports/
app/build/test-results/

# OS
Thumbs.db
